openapi: 3.2.0
info:
  title: Fossil SCM Wikis API
  version: '2026-09-22'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-22: 5 operation(s) read from 4 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Fossil SCM has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 3
    documentation: 2
    pages-with-code: 2
    pages-read: 4
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-22'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://fossil-scm.org/home/doc/trunk/www/json-api/tips.md
  - https://fossil-scm.org/home/doc/trunk/www/json-api/api-user.md
  - https://fossil-scm.org/home/doc/trunk/www/sync.wiki
  - https://fossil-scm.org/home/doc/trunk/www/blockchain.md
servers:
- url: https://fossil.wanderinghorse.net
security:
- session_cookie: []
- sync_protocol_credentials: []
tags:
- name: Wikis
paths:
  /wikis:
    get:
      operationId: get_wikis
      tags:
      - Wikis
      summary: GET /wikis
      x-source: https://fossil-scm.org/home/doc/trunk/www/json-api/tips.md
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl , noting that they have different syntaxes for each\n( --header=X vs --header X ). \n Example JavaScript (Browser and Shell) \n In the fossil source tree, in the ajax directory , is test/demo code\nimplemented in HTML+JavaScript. While it is still quite experimental, it\ndemonstrates one approach to creating client-side wrapper APIs for\nremote Fossil/JSON repositories. \n There is some additional J"
components:
  securitySchemes:
    session_cookie:
      type: apiKey
      in: header
      name: Cookie
      x-source: https://fossil-scm.org/home/doc/trunk/www/password.wiki
    sync_protocol_credentials:
      type: http
      scheme: basic
      x-source: https://fossil-scm.org/home/doc/trunk/www/password.wiki
